.mynabar{
    vertical-align: baseline;
    color: rgb(18, 18, 157) !important;
}
.mynabar a{
    text-decoration: none;
    color: rgb(18, 18, 157);
}
.mynabar .mylink a:hover{
    text-decoration: underline;
}
.tiret{
    color: #ddd;
}
.mylink i{
    margin-right: 10px;
}
.mynabar .compte, i{
    color:rgb(18, 18, 157) ;
}
.mynabar .compte:hover{
    color:none;
    background-color:#edf2f4be;
}

/*===========================================================*/

.banner  a{
    text-decoration: none;
    color: black;
    padding: 10px;
    margin: 0;
}
.banner a:hover{
    background-color: #edf2f4be;
    color: navy;
    
}
.banner{
    display: inline;
    padding: 0;
    margin-left: 10px;
    width: 100%;
    height: fit-content;
}
hr{
    background-color: #edf2f4be;
}

